.rule {
  text-align: center;
  font-size: 18px;

  &__title {
    font-style: italic;
    color: #777;
  }
  &__description {
  }
  &__token {
    font-weight: bold;
    margin-right: 8px;
  }
  &__balance {
    font-weight: bold;
    margin-left: 8px;
    margin-right: 4px;
  }
}
