@import '@/assets/styles/vars';

.header {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 16px 16px;

  &__logo {
    width: 140px;
    height: 70px;
    background-size: cover;
    background-position: center;
    background-image: url('./logo_transparent.png');
  }

  &__nav {
    margin-left: auto;

    a {
      color: $--font-color;
      font-size: 20px;
      margin: 0 32px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $--primary;
      }
    }
  }
}
