@import '@/assets/styles/vars';

.create-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    max-width: 500px;
    margin-bottom: 32px;
    text-align: center;
  }

  &__form {
    min-width: 400px;
  }

  &__submit {
    text-align: center;
  }

  &__tip {
    text-align: center;
    color: $--gray;
  }

  &__token-description {
    max-width: 400px;
    color: $--gray;
  }
  &__separate-text {
    margin-bottom: 12px;
  }
}
