.create-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    max-width: 500px;
    margin-bottom: 32px;
    text-align: center;
  }

  &__form {
    min-width: 400px;
  }

  &__submit {
    text-align: center;
  }
}
