// Create color palette tool: https://coolors.co/16a180-74cbb4-d2f4e7
$--white-text: #fff;

$--primary: #16a180;
$--primary-darken: #297163;
$--primary-lighten: #74cbb4;
$--secondary: #d2f4e7;
$--secondary-darken: #879a96;
$--black: #3b4045;

$--gray: $--secondary-darken;

$--font-color: $--black;
